# Rust build
/target/
**/*.rs.bk
package/pkg/

# IDE/Editor
/.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Docker
*.log

# Node/npm
/node_modules/
package/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# その他
package/target/
templates/**/*.tera
!template-projects
!template-projects/**/.env
!template-projects/**/.clasp.json